DB_PASSWORD= #provide your database password
DB_USERNAME=root
FRONTEND_URL=http://localhost:3000
JWT_EXPIRATION=# provide your JWT expiration time in milliseconds
MAIL_ADDRESS= #provide your email address
JWT_KEY= #provide your JWT secret key
MAIL_PASSWORD= #provide your email password
DB_URL=jdbc:mysql://mysql:3306/sign_pdf