DB_URL=jdbc:mysql://mysql:3306/sign_pdf
DB_Username=root
DB_Password=swaS[ik12
JWT_EXPIRATION=86400000
JWT_KEY= #Enter you own very long JWT key#
MAIL_ADRESS=#Enter your own email adress#
MAIL_PASSWORD=#Enter your own email password#

VITE_API_BASE_URL=http://localhost:8080
FRONTEND_URL=http://localhost:5173